<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlorecillaService - Facturación Masiva</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>

<header>
    <img th:src="@{/imagen/florLogo.png}" alt="Logo FlorecillaService">
    <h1><span class="logo-text">FlorecillaService</span> / Facturación / Masiva</h1>
</header>


<main>

    <a th:href="@{/facturacion}" class="btn-atras">
        <img th:src="@{/imagen/botonAccion-Atras.png}" alt="Atrás" class="icono-img-atras">
        Atrás
    </a>

    <div class="form-container">
        <div th:if="${success}" class="alert alert-success"
             style="background-color: #d4edda; color: #155724; padding: 15px; border-radius: 5px; margin-bottom: 20px;">
            <span th:text="${success}"></span>
        </div>

        <div th:if="${error}" class="alert alert-danger"
             style="background-color: #f8d7da; color: #721c24; padding: 15px; border-radius: 5px; margin-bottom: 20px;">
            <span th:text="${error}"></span>
        </div>

        <form id="facturacion-form-group" th:action="@{/facturacion/masiva}" th:method="post">
            <fieldset id="form-fieldset">
                <div class="form-section-titles" style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 20px;">

                    <h3 style="margin: 0;">Información para facturación.</h3>

                    <a th:href="@{/facturacion/masiva/log}" class="btn btn-primary"
                       style="width: 150px; padding: 5px 10px; font-size: 12px; text-decoration: none; text-align: center; white-space: nowrap;">
                        Ver Historial de Logs
                    </a>

                </div>

                <div class="form-grid-servicios">
                    <div class="form-group">
                        <label for="mes">Periodo a procesar:</label>

                        <select id="mes" name="periodo" required>
                            <option value="" disabled selected>Seleccionar mes</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="fechaVencimiento">Fecha de Vencimiento:</label>
                        <input type="date" id="fechaVencimiento" name="fechaVencimiento" required/>
                        <label for="tipoFac"><bold>Tipo de facturación:</bold> Servicio</label>
                </select>
                </div>
                </div>
            </fieldset>

            <div>
                <h4>Seleccione los servicios a facturar</h4>
            </div>

            <!-- Tabla de servicios disponible para seleccionar en la facturación masiva -->
            <div class="table-container">
                <h2 class="table-title">Servicios del sistema</h2>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre de Servicio</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>% de IVA</th>
                                <th>Seleccionar todo<input type="checkbox" id="seleccionar-todo"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:each="serv : ${servicios}">
                                <td th:text="${serv.nombre}"></td>
                                <td th:text="${serv.descripcion}"></td>
                                <td th:text="${serv.precioUnitario}"></td>
                                <td th:text="${serv.tipoIva}"></td>
                                <td>
                                    <input type="checkbox" name="idServiciosFacturar" th:value="${serv.idServicio}" class="checkbox-servicio" />
                                </td>
                            </tr>

                            <tr th:if="${servicios.isEmpty()}" class="empty-row">
                                <td colspan="5">No hay servicios registrados en el sistema.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="abm-actions" id="abm-bottom-actions">
                <button type="submit" class="btn btn-warning btn-facturar">
                    Facturar Servicios
                </button>
            </div>

        </form>
    </div>

</main>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>

</html>