<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="/static/css/styles.css">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facturacion - FlorecillaService</title>
</head>

<body class="facturacion-inicio">
<header>
  <img src="/static/imagen/florLogo 1.png" alt="Logo FlorecillaService">
  <h1><span class="logo-text">FlorecillaService</span> / Facturacion</h1>
</header>

<main>

  <a href="inicio.html" class="btn-atras">
    <img src="/static/imagen/botonAccion-Atras.png" alt="Atrás" class="icono-img-atras">
    Atrás
  </a>

  <h3>EN PROCESO</h3>

  </main>
</body>
</html>