<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" th:href="@{/css/styles.css}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlorecillaService - Inicio</title>
</head>

<body class="pagina-inicio">

<header>
    <img th:src="@{/imagen/florLogo.png}" alt="Logo FlorecillaService">
    <h1>FlorecillaService</h1>
</header>

<main>
    <h2>¡Bienvenido! Por favor, seleccione qué desea gestionar:</h2>

    <nav>
        <ul>
            <li><a th:href="@{/clientes}">Clientes</a></li>
            <li><a th:href="@{/servicios}">Servicios</a></li>
            <li><a th:href="@{/facturacion}">Facturación</a></li>
            <li><a th:href="@{/administrar-pagos}">Pagos</a></li>
        </ul>
    </nav>
</main>

<footer>
    <img th:src="@{/imagen/logo-unam.png}" alt="Logo UNaM">

    <div class="footer-text">
        <p>Universidad Nacional de Misiones - Licenciatura en Sistemas de Información</p>
        <p>Grupo 5 - Trabajo Integrador - Programación Orientada a Objetos II</p>
        <p>Ciclo lectivo 2025</p>
    </div>

    <img th:src="@{/imagen/logo-fceqyn.png}" alt="Logo FCEQYN">
</footer>

</body>
</html>