<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="/static/css/styles.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlorecillaService - Inicio</title>
</head>

<body class="pagina-inicio">

<header>
    <img src="/static/imagen/florLogo 1.png" alt="Logo FlorecillaService">
    <h1>FlorecillaService</h1>
</header>

<main>
    <h2>¡Bienvenido! Por favor, seleccione qué desea gestionar:</h2>

    <nav>
        <ul>
            <li><a href="gestionClientes-inicio.html">Clientes</a></li>
            <li><a href="gestionServicio-ABM.html">Servicios</a></li>
            <li><a href="facturacion-inicio.html">Facturación</a></li>
        </ul>
    </nav>
</main>

<footer>
    <img src="/static/imagen/logo unam 2.png" alt="Logo UNaM">

    <div class="footer-text">
        <p>Universidad Nacional de Misiones - Licenciatura en Sistemas de Información</p>
        <p>Grupo 6 - Trabajo Integrador - Programación Orientada a Objetos II</p>
        <p>Ciclo lectivo 2025</p>
    </div>

    <img src="/static/imagen/logo fceqyn 2.png" alt="Logo FCEQYN">
</footer>

</body>
</html>